body{
  background-color: rgb(240, 234, 239);
  }
  .ttl2{
    display: none;
  }
  .ttl{
    margin-left: 1%;
  }
  .ttl3{
    font-size: 20px;
  }
  
    .tbt{border: 1px solid transparent;
      font-size: 10px;
      line-height: 7px;
      letter-spacing: 0px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      align-self: center;
      color: rgb(19, 18, 18);
    }
    .tbtd{border: 1px solid transparent;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0px;
      display: inline;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      align-self: center;
      color: rgb(19, 18, 18);
      margin: 3%;
    }
  #topbar{
    display:flex;
    position:relative;
    border: 1px solid transparent;
    border-radius: 5px;
    margin:auto;
    width: auto;
    padding: 2px; 
    justify-content: space-evenly;
  }
  .bottombar{
    display:inline-flex;
    position:relative;
    border: 1px solid transparent;
    border-radius: 5px;
    margin:auto;
    width: auto;
    padding: 1px; 
    justify-content: center;
    flex-direction: column;
  }
  #topbar:hover{
    background-color: #f8f6fa;
    display:none;
    position:relative;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-top:auto;
    width: auto;
    padding: 5px; 
    box-shadow: -5px -5px 8px  #d1cfd4;
    box-shadow: 5px 5px 8px #d1cfd4;
    justify-content: space-evenly;
  }
  
  #logo{max-width:50px; height: 50px;
    margin-right: 20%;
    border-radius: 5px;
  }
  
  .bt{max-width:auto; height:25px;
    background-color: #9e89c7;
    color:white;
    border:1px solid transparent;
    border-radius: 10px;
    }
    .sbt{width:25px; height:23px;
      background-color: white;
      border:1px solid white;
      border-radius: 50%;
      padding: 1px;
      }
      .si{
        height: 20px;
        width: 20px;
      }
      .searchbar{text-align: center;
        padding: 0;
        height: 25px;
        width: fit-content;
        background-color: white;
        color: rgb(212, 208, 208);
        border: 1px solid white;
        display:inline-flex
      }
      .searchbar :hover{text-align: center;
        padding: 0;
        height: 25px;
        width: fit-content;
        background-color: rgb(248, 242, 242);
        color: rgb(209, 207, 207);
        border: 1px solid white;
        border-radius: 10px;
        display:inline-flex
      }
  
    .link{
      color:black;
      text-decoration: none;
    }
    .link:hover{
      color:rgb(78, 67, 230);
      text-decoration: none;
    }
    h1,h2,h3{
      color: rgb(63, 61, 59);
      text-decoration: none;
    }
    h2:hover{
      color: rgb(155, 124,   170);
      text-decoration: none;
    }
    h1:hover{
      color: rgb(155, 124, 170);
      text-decoration: none;
    }
  section{background-color: white;
    float:left;
    color:rgb(37, 35, 35);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:5%;
    flex: 1;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 50px;
    box-shadow: -1px -1px 8px  grey;
    box-shadow: 1px 1px 8px  grey;
    text-decoration: none;
  }
  aside{
    float:right;
    margin-right: 10%;
  }
  .wel{text-align: left;
    width: 100%;
    height:auto;
    border:1px solid transparent;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:10px;
    margin: auto;
    position:relative;
    vertical-align: middle;
  }
  
  #decoration{width:100%;
    height:auto;
    border:1px solid transparent;
    margin-left: 60px;
    position: relative;
    vertical-align: middle;
    margin:auto;
    text-align: center;
  
  }
  #decimage{width: 100%;
    height:250px;
    border:1px solid transparent;
    box-shadow: -5px -5px 8px grey;
    box-shadow: 5px 5px 8px grey;
  }
  
  .doubelmnt{border:1px solid transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .doubelmnt2{border:1px solid transparent;
    text-align: center;
  }
  .profile{
    width:150px;
    height:150px;
    border:1px solid transparent;
    border-radius: 50%;
    align-self: center;
  }
  .pmain{padding:0px;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
  }
  
  .title{color:#9e89c7;
    text-decoration: none;
  }
  
  .profilecard{
    margin:25px;
    border:1px solid white;
    background-color: white;
    width:100%;
    height:auto;
    position:relative;
    vertical-align:middle;
    box-shadow: -5px -5px 8px  #9e89c7;
    box-shadow: 5px 5px 8px  #9e89c7;
    align-self: center;
  }
  .profilecard:hover{
    margin:25px;
    border:1px solid white;
    background-color: white;
    width:100%;
    height:auto;
    position:relative;
    vertical-align:middle;
    box-shadow: -5px -5px 8px  #d1cfd4;
    box-shadow: 5px 5px 8px  #d1cfd4;
    align-self: center;
  }
  .shortunder{
    border-bottom: 3px solid rgb(151, 106, 192);
  }
  .collection{
    display:flex;
    width: 100%;
    height:auto;
    position: relative;
    padding: 1px;
    justify-content: space-evenly;
  }
  .colls{height: auto;
    width: auto;
    display:inline-flex;
    border: 1px solid transparent;
    padding:1%;
    position: relative;
    margin: 1px;
    flex:1;
    text-align: center;
      border:1px solid transparent;
      border-radius: 20px;
    box-shadow: -5px -5px 8px  #9e89c7;
    box-shadow: 5px 5px 8px #9e89c7;
  }
  .colls > .collsimg{
      background-color: white;
      width:100%;
      height:100%;
      border-radius: 10px;
  }
  .colls > .collstxt{
      width:fit-content;
      position:absolute;
      margin-top:3%;
      margin: 5%;
      font-size: 14px;
      color: #9e89c7;
  }
  .display{margin: 1px;
      border:1px solid white;
      background-color: white;
      width:100%;
      height:fit-content;
      position:relative;
      padding:10px;
      vertical-align: middle;
      box-shadow: -5px -5px 8px  #9e89c7;
      box-shadow: 5px 5px 8px #9e89c7;
      text-align: left;
      align-self: center;
  }
  .display:hover{margin: 1px;
    border:1px solid white;
    background-color: white;
    width:100%;
    height:fit-content;
    position:relative;
    padding:10px;
    vertical-align: middle;
    box-shadow: -5px -5px 8px  #d1cfd4;
    box-shadow: 5px 5px 8px #d1cfd4;
    text-align: left;
    align-self: center;
  }
  .smallbox{
    border:1px solid transparent;
    margin:1px;
    height:3px;
    width:3px;
    background-color: rgb(67, 18, 112);
    position: relative;
    float: left;
  }
  #c1{
    margin-top: 1%;
  }
  #c2{
    margin-top: 1%;
  }
  .icon{
    width:40px;
    height:40px;
    background-color: white;
  }
  .distop{font-size: 18px; 
    font-weight: bold;
    position: relative;
    vertical-align: middle;
    padding: 10px;
    display:inline-grid;
  }
  .disbottom{font-size: 8px; 
    font-weight: bold;
    position: relative;
    vertical-align: middle;
    padding: 10px;
    display:inline-grid;
  }
  .distopcolor{
    background-color: rgb(207, 207, 211);
  }
  #faqnotice{margin-top: 20px;
    background-color: rgb(117, 45, 117);
    color: white;
    width: 85%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #fh{color:white;}
  #fb{max-width:auto; height:25px;
    background-color: white;
    color:rgb(168, 63, 168);
    border:1px solid white;
    border-radius: 10px;
    margin: 2%;
    } 
    .doubelmnt2> #ch{margin: 2px;
      display: inline-grid;
      padding: 3px;
      height: fit-content;
      width:80%;
    }
    .ldoub{
      position: relative;
      text-align: left;
      width:100%;
      height: auto;
      padding:10px;
      border: 1px solid transparent;
      margin-top: 40px;
    }
    footer{width:100%;
      height: auto;
      background-color: rgb(230, 227, 227);
      margin-bottom: 0%;
      margin-left: 0%;
      padding: 1%;
      border: 1px solid transparent;
      position: relative;
      text-align: center;
      display: flex;
    }
    #copyright{color:rgb(28, 28, 173);
      background-color: rgb(194, 192, 192);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      display:inline-flex;
      position: absolute;
      bottom: 1%;
    }
    .smallicon{width:14px;
      height:13px;
      background-color: white;
    }
    .socialicon{width:20px;
      height:20px;
      border-radius: 40%;
      background-color: rgb(230, 227, 227);
    }
    .socialicon:hover{width:25px;
      height:25px;
      background-color: #f8f6fa;
    }
    a{
      text-decoration: none;
    }
    p{
      text-align: left;
      padding:5%;
    }