header{
  margin-top: 5px;
}

  .topcontent{
    font-size: 15px;
    line-height: 10px;
    letter-spacing: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: rgb(19, 18, 18);
  }
#topbar{vertical-align: middle;
  display:inline;
  position:relative;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 18%;
  margin-right:1%;
  padding: 35px; 
}
#topbar:hover{vertical-align: middle;
  background-color: #f8f6fa;
  display:inline;
  position:relative;
  border: 1px solid transparent;
  border-radius: 40px;
  margin-top: 25px;
  margin-left: 18%;
  margin-right: 1%;
  padding: 35px; 
  box-shadow: -5px -5px 8px  #d1cfd4;
  box-shadow: 5px 5px 8px #d1cfd4;
}

#logo{max-width:50px; height: 50px;
  margin-right: 200px;
  border-radius: 5px;
  vertical-align: middle;
}

.bt{max-width:auto; height:25px;
  background-color: #9e89c7;
  color:white;
  border:1px solid white;
  border-radius: 10px;
  }

  .link{
    color:black;
    text-decoration: none;
  }
  .link:hover{
    color:rgb(78, 67, 230);
    text-decoration: none;
  }
  h1,h2,h3{
    color: rgb(63, 61, 59);
  }
  h2:hover{
    color: rgb(155, 124, 170);
  }
  h1:hover{
    color: rgb(155, 124, 170);
  }
section{
  float:left;
  color:rgb(37, 35, 35);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding:10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 75px;
  box-shadow: -1px -1px 8px  grey;
  box-shadow: 1px 1px 8px  grey;
}
aside{
  float:right;
  margin-right: 10%;
}
.wel{text-align: left;
  width: 40%;
  height:auto;
  border:1px solid transparent;
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding:10px;
  margin-top: 150px;
  position:relative;
  display:inline-block;
  vertical-align: middle;
}

#decoration{width:45%;
  height:auto;
  border:1px solid transparent;
  margin-left: 60px;
  position: relative;
  display:inline-grid;
  vertical-align: middle;
  margin-top:150px;
  margin-right:10px;
  text-align: center;

}
#decimage{width: 100%;
  height:250px;
  border:1px solid transparent;
  box-shadow: -5px -5px 8px grey;
  box-shadow: 5px 5px 8px grey;


}

.doubelmnt{border:1px solid transparent;
  text-align: center;
}
.profile{
  width:100px;
  height:100px;
}
.pmain{padding:15px;
  position:relative;
  display:inline-block;
  vertical-align:middle;
}

.title{color:#9e89c7;
}

.profilecard{
  margin:25px;
  border:1px solid white;
  background-color: white;
  width:40%;
  height:auto;
  position:relative;
  display:inline-block;
  vertical-align:middle;
  box-shadow: -5px -5px 8px  #9e89c7;
  box-shadow: 5px 5px 8px  #9e89c7;
}
.profilecard:hover{
  margin:25px;
  border:1px solid white;
  background-color: white;
  width:40%;
  height:auto;
  position:relative;
  display:inline-block;
  vertical-align:middle;
  box-shadow: -5px -5px 8px  #d1cfd4;
  box-shadow: 5px 5px 8px  #d1cfd4;
}
.shortunder{
  border-bottom: 3px solid rgb(151, 106, 192);
}
.display{margin: 1px;
    border:1px solid white;
    background-color: white;
    width:28%;
    height:auto;
    position:relative;
    display: inline-block;
    padding:10px;
    vertical-align: middle;
    box-shadow: -5px -5px 8px  #9e89c7;
    box-shadow: 5px 5px 8px #9e89c7;
    text-align: left;
}
.display:hover{margin: 1px;
  border:1px solid white;
  background-color: white;
  width:28%;
  height:auto;
  position:relative;
  display: inline-block;
  padding:10px;
  vertical-align: middle;
  box-shadow: -5px -5px 8px  #d1cfd4;
  box-shadow: 5px 5px 8px #d1cfd4;
  text-align: left;
}
.smallbox{
  border:1px solid transparent;
  margin:5px;
  height:10px;
  width:10px;
  background-color: rgb(67, 18, 112);
  position: relative;
  float: left;
}
#c1{
  margin-top: 10%;
}
#c2{
  margin-top: 20%;
}
.icon{
  width:50px;
  height:50px;
  background-color: white;
}
.distop{font-size: 13px; 
  font-weight: bold;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 10px;
}
.distopcolor{
  background-color: rgb(207, 207, 211);
}
#faqnotice{margin-top: 40px;
  background-color: rgb(117, 45, 117);
  color: white;
  width: 78.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#fh{color:white;}
#fb{max-width:auto; height:25px;
  background-color: white;
  color:rgb(168, 63, 168);
  border:1px solid white;
  border-radius: 10px;
  }
  #ch{
    height: 120px;
  }
  .ldoub{display: inline-block;
    position: relative;
    text-align: left;
    width:40%;
    height: auto;
    padding:10px;
    border: 1px solid transparent;
    margin-top: 50px;
  }
  .foot{width:100%;
    height: auto;
    background-color: rgb(230, 227, 227);
    margin-bottom: 0%;
    margin-left: 0%;
    padding: 50px;;
    border: 1px solid transparent;
    box-shadow: -5px -5px 8px  #fbfbfc;
    box-shadow: 5px 5px 8px #faf9fa;
  }
  #copyright{color:rgb(28, 28, 173);
    background-color: rgb(194, 192, 192);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .smallicon{width:14px;
    height:14px;
    background-color: white;
  }
  .socialicon{width:40px;
    height:40px;
    border-radius: 40%;
    background-color: rgb(230, 227, 227);
  }
  .socialicon:hover{width:50px;
    height:50px;
    background-color: #f8f6fa;
  }
  